h2 {
  font-size: 32px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.IdCard {
  border: 1px solid black;
  display: flex;
  align-items: center;
  line-height: 0.25;
  padding: 0.5%;
}

.IdCard img {
  width: 10vw;
  height: 18vh;
}

.box {
  border: 1px solid black;
  display: flex;
  margin: 1%;
}

.Color {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 100vw;
  height: 10%;
}

.driveCard img {
  width: 15vw;
  height: 23vh;
  border-radius: 100%;
}

.driveCard {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10%;
  background: rgb(13, 119, 232);
  border-radius: 15px;
  padding: 30px 100px;
  color: white;
}

.card img {
  width: 10vw;
  height: 5vh;
}

.dice img {
  width: 100px;
  height: 100px;
}

#email:invalid{
  border-color: red;
}

#email:valid {
  border-color: green;
}